h1 {
  background: linear-gradient(rgb(0, 255, 98), black);
  color: black;
  border: red solid 2px;
  width: 500px;
  height: 50px;
  text-align: center;
  border-style: outset;
  font-family: serif;
  font-size: 50px;
  font-style: oblique;
  font-weight: 800;
}
h2 {
  background: lightblue;
  color: rgb(255, 120, 60);
}

#texto {
  color: rgba(255, 0, 0, 0.5); /*RGBA*/
  font-size: 20px;
}

.seletor,
a {
  color: hsl(
    45,
    100%,
    50%
  ); /*HSL - Hue (matiz), saturation (saturação), Lightness (luminosidade) - HSLA*/
  text-transform: uppercase;
}

img {
  width: 300px;
  height: 300px;
  border: 5px solid #0000ff;
  background-size: 120px;
  background-repeat: repeat;
  #fixed {
    background-attachment: fixed;
  }
}

#fill {
  object-fit: contain;
}

#contair {
  object-fit: cover;
}

#cover {
  object-fit: fill;
}

.box {
  background-color: tomato;
  width: 200px;
  height: 200px;
  border-width: 10px;
  border-style: groove;
  border-color: saddlebrown blue;
  border-radius: 20px;
  border-image: url("/image/escudo\ fla.png");
}

p {
  border: 1px solid black;
  background-color: lavender;
  text-transform: uppercase;
  width: 370px;
  text-align: center;
  text-decoration: underline;
  word-spacing: 10px;
  letter-spacing: 3px;
}
