/* TÍTULOS */
h1 {
  background: linear-gradient(rgb(0, 255, 98), black);
  color: black;
  border: 2px outset red;
  width: 500px;
  height: 50px;
  text-align: center;
  font-family: serif;
  font-size: 50px;
  font-style: oblique;
  font-weight: 800;
}

h2 {
  background: lightblue;
  color: rgb(255, 120, 60);
}

/* TEXTO */
#texto {
  color: rgba(255, 0, 0, 0.5);
  font-size: 20px;
}

.seletor,
a {
  color: hsl(45, 100%, 50%);
  text-transform: uppercase;
}

/* IMAGEM */
img {
  width: 300px;
  height: 300px;
  border: 5px solid blue;
}

/* CAIXA */
.box {
  background-color: tomato;
  font-size: 2em;
  width: 200px;
  height: 200px;
  border: 10px groove saddlebrown;
  border-radius: 20px;
}

/* PARÁGRAFOS */
p {
  border: 1px solid black;
  background-color: lavender;
  text-transform: uppercase;
  width: 370px;
  text-align: center;
  text-decoration: underline;
  word-spacing: 10px;
  letter-spacing: 3px;
}

/* EXEMPLOS DE CAIXAS COLORIDAS */
.Ex-01 {
  background-color: yellow;
  padding: 20px;
}

.Ex-02 {
  background-color: palevioletred;
  padding: 20px;
}

.Ex-03 {
  background-color: aquamarine;
  padding: 20px;
}
